header {
  color: white;
  background-color: darkgrey;
  height: 70px;
  font-weight: bold; 
}

header link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}


main{
  padding: 1rem;
}
 
.produtos{ 
  display: flex;
  justify-content: center;
}

.produto{
  border: 1px gray solid;
  margin: 1rem;
}

.produto img{
  width: 100%;
}

.prod-info{
  padding: 1rem;
}